body {
	margin:0;
	padding:0;
	font-family: 'roboto', sans-serif;
}

header {
	width: 100%
}

ul {
	list-style:none;
}

#nav_bar {
	float: right;
}

#nav_bar li{
	display: inline-block;
	padding;12px;
}

#nav_bar #sign_in{
	background: #4887ef;
	margin-right: 25px
	padding: 7px 15px;
	border-radius: 3px;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: inherit;
}
li.nav-links a:hover {
	text-decoration: underline;
}
#sign_in:hover {
	box_shadow:1px 1px 5px #999;
}
#sign_in{
	color:#fff;
}
#txtsearch {
	width: 300px;
	line-height:15px;
	padding:10px 5px;
}
.buttons {
	texr-align: center;
	padding-top:30px;
	marging-button:250px
}



